body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Figtree", "Poppins", "GFS Neohellenic", sans-serif; /*ver. 2.0*/
    font-weight: 400;
    font-style: normal;
    font-size: x-large; 
}

#container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top,#330A0A, #991F1F);
    align-items: center; /*per centrare footer*/
    cursor: default; /*per evitare che il cursore cambi sui testi*/
}


#logo p, #menu {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

input[type="checkbox"] { /*disattivare per il debug*/
    display: none;
} 

/*menutrigger è nella media query della versione pc*/

#menutrigger:checked+#container #menublock { 
    opacity: 1;
    z-index: 1;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#title{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #991F1F;
    box-shadow: #000 0px 0px 7px; /* solo 7px? */
}

#title a{
    text-decoration: none;
}

#title img{ /*menu.svg*/
    width: 2em;
    height: 2em;
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo h1{
    font-family: "Gideon Roman", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: .3em;
    padding-left: .5em;
    font-size: 2.5em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contorno della scritta */
}

#logo div{
    border-left: 2px solid white; 
    height: 3em; 
    margin: 0 10px; 
    border-radius: 2px;
}

#logo p{
    font-size: large; /* il resto delle caratteristiche sono nel comparto del Body*/ 
    margin: 0;
    padding: .5em;
    font-size: 1em;
    white-space: nowrap;
}

#title label{
    padding: 1.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#title label p{
    margin: 0;
    padding: .25em;
    font-size: 1.5em;
}

#link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    padding: 1em;
}

#link a{
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#link a img{
    width: 1.5em;
    height: 1.5em;
}

#link a:hover{
    scale: 1.1;
}

#link a:active{
    scale: 0.9;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#window{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#menublock{
    /* top: 112.36px; */
    width: 100vw;
    height: 100vh;
    /* background-color: #d9d9d9; */
    /* background-color: rgba(217, 217, 217, 0.5); */
    backdrop-filter: blur(3px);
    z-index: -1;
    position: fixed;
    opacity: 0;
    transition: all 0.4s ease;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxx*/

#menu{
    width: 14%;
    height: calc(100vh - 118px - 65px - 1.5em);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: .5em;
    padding-bottom: 1em;
    gap: 3em;
    position: sticky; 
    /* top: 7%; */ /* per posizionare il position: sticky */
    top: 185px;
    transform: translateX(-100%);
    position: fixed;
    z-index: 2;
    transition: all 0.4s ease;
}

#menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: .75em;
}

#menu ul li{
    background: linear-gradient(to right, hsla(0, 0%, 12%, 1), hsla(0, 0%, 70%, 1));
    border-radius: 10px;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    /* width: 100%;
    padding: .25em; */
}

#menu ul a{
    width: 197px;
    height: 55px;

    
    font-size: 1.10em;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    text-decoration: none;
}

#menu ul .active{
    position: relative;
    left: .25em;
}

#menu ul li a img{
    left: 1.75em;
    width: .5em;
    position: relative;
}

#menu #second{
    font-size: large;
}

#menu li:hover{
    transform: scale(1.1);
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    font-weight: 400;
}

#menu li:active{
    transform: scale(0.9);
    text-shadow: none;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxx*/

#contents{
    width: 100%;
    height: auto;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-top: 1em;
    padding-bottom: 1em;
    
}

#triggermenu{
    width: 17%;
    /* padding-left: .5em;
    padding-right: .5em; */
    padding: .5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;
    /* top: calc(108px + .5em); */
    top: 120px;
    transition: all 0.4s ease;
}

#triggermenu img{
    width: 1.5em;
    height: 1.5em;
}

#triggermenu p{
    margin: 0;
    padding: .25em;
    font-size: 1em;
}

#contenuti{
    background-color: #d9d9d9;
    color: black;
    /* width: calc(75% - 2em); */ /* meno il padding dei triggermenu */
    width: calc(100% - 17% - 24px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

#principale{
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
    background-image: url(astrobot.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#principale::after{
    content: '';
    position: absolute;
    top: 67%;
    left: 0;
    width: 100%;
    height: 33%;
    background: linear-gradient(to bottom, transparent, #d9d9d9);
    transition: all 0.4s ease;
}

#resto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
    gap: 1em;
}

#contents h1, h2, p{
    margin: 0;
}

#contents h1{
    font-size: 2em;
    font-weight: 600;
    text-align: left; /* non funziona */
    line-height: 1.0;
    gap: .5em;
}

#contents h2{
    font-size: 1.25em;
    font-weight: 500;
}

.separatore{
    border-top: #000 1px solid;
    width: 100%;
    margin: 10px 0;
    border-radius: 2px;
}

#contents p{
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}

#resto img{
    width: 33%;
    /* height: min-content; */
    object-fit: contain;
}

.paragrafodx{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1.5em;
    padding-bottom: 1em;
}

.paragrafodxdx{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: .5em;
}

#contents .paragrafodx h2{
    font-weight: 600;
    line-height: 1.0;
    padding-left: .5em;
    border-left: #000 3px solid;
    border-radius: 2px;
}

.paragrafosx{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1.5em;
    padding-bottom: 1em;
}

.paragrafosxsx{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    gap: .5em;
}

#contents .paragrafosx h2{
    font-weight: 600;
    line-height: 1.0;
    padding-right: .5em;
    border-right: #000 3px solid;
    border-radius: 2px;
}

.piuimg{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: .5em;
}

#resto .piuimg img{
    width: 75%;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#footer{
    border-top: 2px solid white;
    border-radius: 2px;
    width: 92vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    padding: 1em;
    padding-bottom: 1.5em;
    gap: 1em;
    font-size: .94em;
}

#footer p{
    margin: 0;
    text-wrap: nowrap;
}

#footer #social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: .5em;
}

#footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1.25em;
}

#footer ul li{
    padding: 0;
    margin: 0;
}

#footer a{
    color: white;
    text-decoration: none;
}

#footer ul a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: .25em;
    text-wrap: nowrap;
}

#footer img{
    width: 1.5em;
}

#footer a:hover{
    text-decoration: underline;
}

#footer a:active{
    text-decoration: none;
}

#footer a:visited{
    color: #a8d0e6;
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

@media screen and (min-width: 450px) {

    #menutrigger:checked+#container #menu {
        transform: translateX(0%);
    }
    
    #menutrigger:hover+#container #menu {
        transform: translateX(0%);
    }
    
    #menu:hover { 
        transform: translateX(0%);
    }

    #title label{
        display: none;
    }

    #menublock{
        display: none;
    }

    /* #menu{
        display: none;
    } */

    /* #triggermenu{
        display: none;
    } */

}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

@media screen and (max-width: 450px) {

    body{
        font-size: .70em;
    }

    #menutrigger:checked+#container #menu { /* continuare da qua */
        transform: translateX(10%);
    }

    /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

    #logo{
        width: 100%;
        justify-content: center;
    }

    #logo h1{
        font-size: 2.6em;
        padding: .3em;
    }

    #logo div{
        height: 2.8em;
    }

    #logo p{
        font-size: .92em;
    }

    /* label nel comparto del Title */

    #link{
        gap: .75em;
    }

    #link a img{
        width: 2em;
        height: 2em;
    }

    /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

    #menu{
        height: calc(100vh - 52px - 12em );
        width: 25%;
        background-color: lightgrey;
        border-radius: 10px;
        position: fixed; /* Perché rimane in parte sticky? */
        top: 120px;
        z-index: 2;
        transform: translateX(-200%);
        transition: all 0.4s ease;
        padding: 1.5em; 
        padding-top: 2em;
        padding-bottom: 2em;
    }

    #menu ul a{
        width: 100px;
        height: 35px;
    }

    #menu #second{
        font-size: .75em;
    }

    /*xxxxxxxxxxxxxxxxxxxxxxxxx*/

    #contents{
        width: 100%;
        /* padding-top: 0; */ /*ver. 1.0*/
        justify-content: center;
    }

    #triggermenu{
        display: none;
    }

    #contents a{
        /* width: calc((100% / 2 ) - 1.25em); */ /*ver. 1.0*/
        width: calc((100% / 2 ) - .75em);
    }

    #contents a p{
        font-size: 12px;
    }

    #contents #prima{
        height: 140px;
    }

    #contents #prima p{
        font-size: .75em;
    }

    #contents p{
        font-size: 10px;
        hyphens: auto;
    }

    #contents .paragrafodx h2 {
        border-left: #000 2px solid;
    }

    #contents .paragrafosx h2 {
        border-right: #000 2px solid;
        text-align: right;
    }

    .piuimg {
        gap: 6em;
    }

    /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

    #footer{
        border-top: 1px solid white;
        width: 90vw;
        font-size: 10px;
        gap: 1.5em;
    }

    #footer #social{
        align-items: flex-start;
    }

    #footer ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: .75em;
    }
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

@media screen and (prefers-color-scheme: dark) {
    body{
        color: white;
    }

    #contents a{
        background-color: #1f1f1f;
        color: rgb(235, 235, 235);
    }

    .uno::after{
        background: linear-gradient(to right, transparent, #1f1f1f);
    }

    .gradient::after{
        background: linear-gradient(to bottom, transparent, #1f1f1f);
    }

    #contenuti{
        background-color: rgb(31, 31, 31);
        color: rgb(235, 235, 235);
    }

    #principale::after{
        background: linear-gradient(to bottom, transparent, #1f1f1f);
    }

    .separatore{
        border-top: #d9d9d9 1px solid;
    }

    #contents .paragrafodx h2 {
        border-left: #d9d9d9 2px solid;
    }

    #contents .paragrafosx h2 {
        border-right: #d9d9d9 2px solid;
    }

    #footer{
        color: #d9d9d9;
    }

    #footer a{
        color: #d9d9d9;
    }
}