body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "GFS Neohellenic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

#container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top,#330A0A, #991F1F);
    align-items: center; /*per centrare footer*/
    cursor: default; /*per evitare che il cursore cambi sui testi*/
}


#logo p, #menu {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

input[type="checkbox"] {
    display: none;
}

#menutrigger{
    ...
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#title{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    position: relative;
}

#title a{
    text-decoration: none;
}

#title img{
    width: 2em;
    height: 2em;
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo h1{
    font-family: "Gideon Roman", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: .3em;
    padding-left: .75em;
    font-size: 2.75em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contorno della scritta */
}

#logo div{
    border-left: 2px solid white; 
    height: 3em; 
    margin: 0 10px; 
    border-radius: 2px;
}

#logo p{
    font-size: large; /* il resto delle caratteristiche sono nel comparto 1*/
    margin: 0;
    padding: .5em;
    font-size: 1em;
    white-space: nowrap;
}

#title label{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#title label p{
    margin: 0;
    padding: .25em;
}

#link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    padding: 1.25em;
}

#link a{
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#link a:hover{
    scale: 1.1;
}

#link a:active{
    scale: 0.9;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#window{
    display: flex;
    flex-direction: row;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxx*/

#menu{
    width: 17%;
    height: calc(100vh - 118.59px - 1.5em);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: .5em;
    padding-bottom: 1em;
    background-color: none;
    gap: 3em;
    position: sticky; /* not working */
    top: 7%;
}

#menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: .75em;
}

#menu ul li{
    background: linear-gradient(to right, hsla(0, 0%, 12%, 1), hsla(0, 0%, 70%, 1));
    border-radius: 10px;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#menu ul a{
    width: 197px;
    height: 55px;
    font-size: 1.10em;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d9d9d9;
    text-decoration: none;
}

#menu #second{
    font-size: large;
}

#menu li:hover{
    transform: scale(1.1);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}

#menu li:active{
    transform: scale(0.9);
    text-shadow: none;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxx*/

#contents{
    width: 78%;
    height: auto;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 1.5em;
    padding: 1.5em;
    position: relative;
    /* height: calc(100vh - 119.09px - 36px);
    overflow: auto; */ 
}

#contents a{
    background-color: #d9d9d9;
    width: calc(100% / 3 - 1.5em);
    padding: .25em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    text-decoration: none;
    color: black;
}

#contents a div{
    background-color: #848484;
    aspect-ratio: 16/9;
    width: 100%;
    /* margin: .25em; */
    align-self: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: all 0.2s ease;
    filter: brightness(0.8);
}

#contents a p{
    padding: .5em;
    padding-bottom: 1em;
    margin: 0;
}

#contents #prima{
    background-color: #d9d9d9;
    width: 100%;
    height: 275px; /* altezza fissa! */
    /* height: 5.5em; */
    padding: .125em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 2em;
}

#contents #prima div{
    height: 100%;
    width: min-content;
    aspect-ratio: 16/9;
    background-size: cover;
    /* flex-grow: 1; */
}

/* #contents #prima p{
    flex-grow: 2;
} */

.uno{
    background-image: url(astrobot.avif);
    
}

.due {
    background-image: url(metrodvania.webp);
}

.tre {
    background-image: url(Thumbnail_FF9.jpg);
}

.quattro {
    background-image: url();
}

.cinque {
    background-image: url();
}

.sei {
    background-image: url();
}

.sette {
    background-image: url();
}

.otto {
    background-image: url();
}

.nove {
    background-image: url();
}

/* #contents div:hover{
    cursor: pointer;
} */

#contents a:hover div{
    filter: brightness(1.0);
    transition: all 0.4s ease;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#footer{
    border-top: 2px solid white;
    border-radius: 2px;
    width: 92vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    padding: 1em;
    padding-bottom: 1.5em;
    gap: 1em;
}

#footer p{
    margin: 0;
}

#footer #social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: .5em;
}

#footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1.5em;
}

#footer ul li{
    padding: 0;
    margin: 0;
}

#footer a{
    color: white;
    text-decoration: none;
}

#footer ul a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: .25em;
}

#footer img{
    width: 1.5em;
}

#footer a:hover{
    text-decoration: underline;
}

#footer a:active{
    text-decoration: none;
}

#footer a:visited{
    color: #a8d0e6;
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

@media screen and (min-width: 990px) {

    #title label {
        display: none;
    }

}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

@media screen and (max-width: 990px) {

    #logo{
        width: 100%;
    }

    #logo h1{
        font-size: 1.5em;
    }

    #logo div{
        height: 2em;
    }

    #logo p{
        font-size: initial; 
    }



    /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

    #menu{
        background-color: lightgrey;
        position: fixed;
        transform: translateX(-110%);
        transition: all 0.4s ease;
    }

    /*xxxxxxxxxxxxxxxxxxxxxxxxx*/

    #contents{
        width: 100%;
    }

    #contents a{
        width: calc(100% / 2 - 1.5em);
    }

    #contents #prima{
        height: 260px;
    }

    /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

    #footer #social{
        align-items: flex-start;
    }

    #footer ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

/* @media screen and (prefers-color-scheme: dark) {

} */